body {
     background-color: powderblue;
     text-align: center;

}

.frameButton{
    height: 150px;
    width: 300px;
    border: double blue 10px;
    margin: auto;
    font-family: Lucida;
    font-size: 300%;
    background-color:cyan;
    transition: all 1000ms;

}

.frameButton:hover{
     background-color: #CC3256;
     color: #14FF44;
     border-color: #14FF44;
     border-width: 30px;
}

.ending{
       font-size: 200px

}

#happyB, #wish1, #wish2, #wish3{
      transition: all 1000ms;
      margin-top: 150px;
      vertical-align:sub;

}

#wish4{
   margin-top: 500px;
   transition: all 3000ms;
}

#button2, #button3, #button4, #button5 {
 display: none;
}
